OPENAI_API_KEY=your_openai_api_key_here


PGVECTOR_URL=jdbc:postgresql://localhost:5432/reverseengineering
PGVECTOR_USER=postgres
PGVECTOR_PASSWORD=postgres


OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small


OPENAI_QUERY_TEMPERATURE=0.3
OPENAI_CHAIN_TEMPERATURE=0.1
OPENAI_SYNTHESIS_TEMPERATURE=0.2
OPENAI_QUERY_MAX_TOKENS=1500
OPENAI_CHAIN_MAX_TOKENS=3000
OPENAI_SYNTHESIS_MAX_TOKENS=6000


ALLOWED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
ALLOWED_REPO_HOSTS=github.com
MAX_FILES_TO_LOAD=2000
MAX_FILE_BYTES=524288
MAX_TOTAL_SOURCE_CHARS=8388608
MAX_QUERY_K=20
MAX_DOCUMENT_K=40
MAX_QUESTION_LENGTH=4000
MAX_PROJECT_NAME_LENGTH=120


